<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>__LABEL_PREFIX__.chat-recycle</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>echo "$(date -Iseconds) recycling chat service"; /bin/launchctl kickstart -k "gui/$(id -u)/__LABEL_PREFIX__.chat" 2>&amp;1; echo "$(date -Iseconds) recycle done"</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key><integer>4</integer>
        <key>Minute</key><integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>__LOG_DIR__/chat-recycle.log</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/chat-recycle.log</string>
    <key>RunAtLoad</key>
    <false/>
</dict>
</plist>
